.container-fluid{
    height:110px;
    background-color: #39C98B;
    margin-bottom: 5em;

}
.logo{
    position: absolute;
    top:0.5em;
    left:4em;
}
.navbar{
    justify-content: flex-end;
    font-family:  'Lato', sans-serif;
    
    
}
ul{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    list-style-type: none;
    padding: 1em;  
}
/* ul a{
    color: rgb(245, 233, 233);
    font-size: 1.3em;
}
ul a:hover{
    color: #C63674;
    font-size: 1.5em;
} */

ul a.effect-box:after,
ul a.effect-box:before {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	
}

a.effect-box:before {
  border-left: 1px solid;
  border-right: 1px solid;
  -webkit-transform: scale(1,0);
	transform: scale(1,0);
}
ul a .effect-box:before {
        border-left: 1px solid;
        border-right: 1px solid;
        -webkit-transform: scale(1,0);
          transform: scale(1,0);
      }
      
    ul  a .effect-box:after {
        border-bottom: 1px solid;
        border-top: 1px solid;
        -webkit-transform: scale(0,1);
          transform: scale(0,1);
      }
      
     ul a .effect-box:hover:after,
     ul a .effect-box:hover:before {
        opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
      }

.user{
   
    padding: 1.2em;
    position: relative;
    }

    