* {
    box-sizing: border-box;
  }

  body {
    background: rgb(224, 225, 228);
    font-family: 'Slabo', serif;
    font-size: 16px;
    color: #333a45;
  }

  .wrapper {
    margin: 3em auto;
    max-width: 1300px;
    background-color: #fff;
    /* box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06); */
  }

  .cards {
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    align-items: flex-start;
    
  }

  .card {
    margin: 15px;
    width: calc((100% / 3) - 30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: static!important;

  }
  @media screen and (max-width: 991px) {
    .card {
      width: calc((100% / 2) - 30px);
    }
  }
  @media screen and (max-width: 767px) {
    .card {
      width: 100%;
    }
  }
  .card:hover .card__inner {
    background-color: #1abc9c;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .card__inner {
    width: 100%;
    padding: 80px;
    position: relative;
    cursor: pointer;
    color: #eceef1;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .card__inner:after {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .card__inner .fa {
    width: 100%;
    margin-top: .25em;
  }
  .card__expander {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 100%;
    position: relative;
    background-color: #686d75;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    color: #eceef1;
    font-size: 1.5em;
  }
  .card__expander .fa {
    font-size: 0.75em;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .card__expander .fa:hover {
    opacity: 0.9;
  }
  .card.is-collapsed .card__inner:after {
    content: "";
    opacity: 0;
  }
  .card.is-collapsed .card__expander {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    margin-top: 0;
    opacity: 0;
  }
  .card.is-expanded .card__inner {
    background-color: #1abc9c;
    opacity: 0.1;
  }
  .card.is-expanded .card__inner:after {
    content: "";
    opacity: 1;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #333a45;
  }
  .card.is-expanded .card__inner .fa:before {
    content: "\f115";
  }
  .card.is-expanded .card__expander {
    max-height: 1000px;
    min-height: 200px;
    overflow: visible;
    margin-top: 30px;
    opacity: 1;
  }
  .card.is-expanded:hover .card__inner {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .card.is-inactive .card__inner {
    pointer-events: none;
    opacity: 0.5;
  }
  .card.is-inactive:hover .card__inner {
    background-color: #949fb0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  @media screen and (min-width: 992px) {
    .card:nth-of-type(3n+2) .card__expander {
      margin-left: calc(-100% - 30px);
    }

    .card:nth-of-type(3n+3) .card__expander {
      margin-left: calc(-200% - 60px);
    }

    .card:nth-of-type(3n+4) {
      clear: left;
    }

    .card__expander {
      width: calc(300% + 60px);
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .card:nth-of-type(2n+2) .card__expander {
      margin-left: calc(-100% - 30px);
    }

    .card:nth-of-type(2n+3) {
      clear: left;
    }

    .card__expander {
      width: calc(200% + 30px);
    }
  }
  .cards:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);


}
  .imaj{
      position: absolute;
      width: 100%;

  }
  .text p{
      margin: 1em;
      font-size: 18px;
      text-transform: none;
      text-align: left;
  }

  .box {
    width: 1239px;
    height: 200px;
    background-color:rgb(243, 243, 243);
    box-shadow: 5px 5px 2px 1px rgba(0,0,0,0.04);
    display: flex;
    line-height: 2.2em;
    font-size: 0.5em;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 2em;
    color: #3A405A;

    font-family: 'Lato', sans-serif;
}
.side{
    display: flex;
    flex-direction: row;

}
.side span{
    margin-top: 0.5em;
    margin-right: 3em;


}

.tab {
    margin-top: 0.8em;
    margin-left: -2em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    width: 8em;
    font-family: 'Montserrat', sans-serif;
    color:#3A405A ;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.desc {
    width: 700px;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    position: relative;
}

.desc p {
    text-align: right;
    margin-right: 1em;
    margin-top:1em;
    text-transform: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    color: #3A405A;

}

.desc h2 {
    text-align: right;


    margin-right: 1em;
    margin-top: 0.5em;
    font-family: 'Montserrat', sans-serif;
    color: #3A405A;
    border-bottom: 1px solid #3A405A;
}

  input {
    display: none;
  }

  label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
  }

  label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
  }


  label:hover {
    color: #888;
    cursor: pointer;
  }

  input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
  }
  #tab0:checked ~ #content0,
  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3,
  #tab4:checked ~ #content4,
  #tab5:checked ~ #content5,
  #tab6:checked ~ #content6,
  #tab7:checked ~ #content7, {
    display: block;
  }

  @media screen and (max-width: 650px) {
    a {
      font-size: 0;
    }
    label:before {
      margin: 0;
      font-size: 18px;
    }
  }

  @media screen and (max-width: 400px) {
    label {
      padding: 15px;
    }
  }
  .tabs{
      border-bottom: 1px solid black;
      padding: 1em;

  }

  @keyframes neon {
  	  0% {
  	    text-shadow: 0 0 10px #fff,
  	               0 0 15px  #fff,
  	               0 0 25px  #fff,
  	               0 0 40px  #FF9900,
  	               0 0 70px  #FF9900,
  	               0 0 90px  #FF9900,
  	               0 0 90px  #FF9900;
  	  }
  	  100% {
  	    text-shadow: 0 0 5px #fff,
  	               0 0 10px #fff,
  	               0 0 15px #fff,
  	               0 0 20px #FF9900,
  	               0 0 35px #FF9900,
  	               0 0 40px #FF9900,
  	               0 0 50px #FF9900;
  	  }
 }


/*
css for map and card buttons
*/


 .wrap {
 	position: absolute;
 	top: 10%;
 	left: 90%;
 	margin-top: 0px;
 	margin-left: 0px;
 	text-align: center;
 }


 

 button .like{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 }
